////
/// @group o-overlay
/// @link http://registry.origami.ft.com/components/o-overlay
////

/// Add to the header for a compact overlay
@mixin oOverlayCompactHeading {
	@include oTypographySans($scale: 0);
}

/// Add to the title for a compact overlay
@mixin oOverlayCompactTitle {
	@include oTypographySans($scale: 0);
	margin: oTypographySpacingSize(1);
	margin-left: oTypographySpacingSize(2);
}

/// Add to the close button for a compact overlay
@mixin oOverlayCompactClose {
	margin: oTypographySpacingSize(1);
	margin-left: oTypographySpacingSize(2);
}

/// Add to the content section for a compact overlay
@mixin oOverlayCompactContent {
	padding: oTypographySpacingSize(2);
}
